@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Login Form Example</title>
    @*<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
    <link rel="stylesheet" href="~/Content/css/login.css">
    <link rel="stylesheet" href="~/Content/css/LoginStylus.css">*@
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    @*https://codeseven.github.io/toastr/*@
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <link rel="stylesheet" href="~/Scripts/dojoSRC/dijit/themes/claro/claro.css" />
    <link rel="stylesheet" href="~/Scripts/dojoSRC/dijit/themes/claro/Dialog.css" />
    <script>
        var dojoConfig = {
            async: true,
            waitSeconds: 0,
            packages: [
                { name: 'dojo', location: '@Url.Content("~/Scripts/dojoSRC/dojo")' },
                { name: 'dijit', location: '@Url.Content("~/Scripts/dojoSRC/dijit")' },
                { name: 'themes', location: '@Url.Content("~/Scripts/dojoSRC/dijit-themes")' },
                { name: 'custom', location: '@Url.Content("~/Scripts/custom")' },
                { name: 'widget', location: '@Url.Content("~/Scripts/dist/Widget")'},
            ],
        }
    </script>

    <script src="~/Scripts/dojoSRC/dojo/dojo.js"></script>

    <script>var exports = {};</script>
    <script>
        require(["dijit/registry", "dojo/parser", "dojo/dom", "widget/LoginWidget" , "dojo/domReady!"], function (registry, parser, dom, loginWidget) {
            parser.parse();
        })
    </script>
</head>
<body>
    @*<div data-dojo-type="widget/LoginWidget" data-dojo-props="testUserName : 'test name'"></div>*@
    <div data-dojo-type="widget/LoginWidget"></div>
</body>
</html>