@if (ViewBag.Enrollment.Status.ToString() == "Approved")
{
    <div class="card mb-3 border-success bg-success bg-opacity-10">
        <div class="card-header border-success">
            <i class="fa-solid fa-check-circle me-1"></i>
            Current Status
        </div>
        <div class="card-body bg-opacity-100">
            <span class="badge text-bg-success">@ViewBag.Enrollment.Status.ToString()</span>
        </div>
    </div>
    if (Session["CurrentRole"] as string == "Manager")
    {
        <button type="button" class="btn btn-danger w-100" data-bs-toggle="modal" data-bs-target="#declineReasonModal">Decline</button>
    }

}
else if (ViewBag.Enrollment.Status.ToString() == "Declined")
{
    <div class="card mb-3 border-danger bg-danger bg-opacity-10">
        <div class="card-header border-danger">
            <i class="fa-solid fa-check-circle me-1"></i>
            Current Status
        </div>
        <div class="card-body bg-opacity-100">
            <span class="badge text-bg-danger">@ViewBag.Enrollment.Status.ToString()</span>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa-solid fa-ban me-1"></i>
            Reason for Decline
        </div>
        <div class="card-body">
            @ViewBag.DeclineReason
        </div>
    </div>
    if (Session["CurrentRole"] as string == "Manager")
    {
        <button id="approveEnrollment" class="btn btn-success w-100">Approve</button>
    }

}
else if (ViewBag.Enrollment.Status.ToString() == "Pending")
{
    <div class="card mb-3 border-warning bg-warning bg-opacity-10">
        <div class="card-header border-warning">
            <i class="fa-solid fa-check-circle me-1"></i>
            Current Status
        </div>
        <div class="card-body bg-opacity-100">
            <span class="badge text-bg-warning">@ViewBag.Enrollment.Status.ToString()</span>
        </div>
    </div>
    if (Session["CurrentRole"] as string == "Manager")
    {
        <div class="d-flex gap-3">
            <button type="button" class="btn btn-danger w-100" data-bs-toggle="modal" data-bs-target="#declineReasonModal">Decline</button>
            <button id="approveEnrollment" class="btn btn-success w-100">Approve</button>
        </div>
    }
}

@if (Session["CurrentRole"] as string == "Manager")
{
    <input type="hidden" value="@ViewBag.Enrollment.EnrollmentId" id="enrollmentId" />

    <div class="modal fade" id="declineReasonModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Give a reason for declining enrollment.</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <textarea id="reason" class="form-control" rows="5" placeholder="Reason for denying enrollment." required></textarea>
                </div>
                <div class="modal-footer w-100">
                    <div class="w-100 d-flex gap-3">
                        <button type="button" class="btn btn-secondary w-100" data-bs-dismiss="modal">Cancel</button>
                        <button id="declineEnrollment" class="btn btn-danger w-100">Decline</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <input type="hidden" value="@ViewBag.Enrollment.EnrollmentId" id="enrollmentId" />
    <button type="button" class="btn btn-danger w-100" onclick="deleteEnrollment(this)">Remove</button>
}

