
@{
    ViewBag.Title = "All";
}
@section scripts {
    <script src="~/Scripts/custom/enrollment.js"></script>
}

<main class="container">
    <h2>All Enrollments</h2>



    <form id="enrollmentForm" class="d-none">
        <div class="table-responsive p-2">
            <table id="enrollmentTable" class="table table-borderless table-hover pb-4">
                <thead class="bg-light border-bottom">
                    <tr class="align-middle">
                        <th colspan="4" class="border-end">Training</th>
                        <th colspan="3" class="border-end">Employee</th>
                        <th colspan="2">Enrollment</th>
                    </tr>
                </thead>
                <thead class="bg-light">
                    <tr class="align-middle">
                        <th>Title</th>
                        <th>Deadline</th>
                        <th class="text-nowrap">Department Priority</th>
                        <th class="border-end">Capacity</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th class="border-end">Department</th>
                        <th>Status</th>
                        <th class="text-end">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Enrollment in ViewBag.Enrollments)
                    {
                        <tr>
                            <td class="rounded-start">@Enrollment.Training.Title</td>
                            <td>@Enrollment.Training.Deadline.ToString("ddd, dd MMM yyyy - hh:mm tt")</td>
                            <td>
                                @if (Enrollment.Training.PriorityDepartment != null)
                                {@Enrollment.Training.PriorityDepartment.Title}
                            else
                            { <p class="opacity-25 m-0">None</p>}
                            </td>
                            <td>@Enrollment.Training.Capacity</td>
                            <td>@Enrollment.Employee.FirstName</td>
                            <td>@Enrollment.Employee.Email</td>
                            <td>@Enrollment.Employee.Department.Title</td>
                            <td>@Enrollment.Status</td>
                            <td class="rounded-end text-end">
                                <div class="d-flex justify-content-end">
                                    @Html.ActionLink("View", "View", "Training", new { @id = Enrollment.Training.TrainingId }, new { @class = "btn btn-sm btn-outline-primary" })
                                    @if (ViewBag.CurrentRole == "Admin")
                                    {
                                        @Html.ActionLink("Edit", "Edit", "Training", new { @id = Enrollment.Training.TrainingId }, new { @class = "btn btn-sm btn-outline-secondary ms-2" })
                                        <button class="btn btn-sm btn-outline-danger ms-2" onclick="deleteTraining(this)">
                                            <i class="fa-solid fa-trash"></i>
                                        </button>
                                        <input type="hidden" value="@Enrollment.Training.TrainingId" />
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </form>
</main>

