
@{
    ViewBag.Title = "Enrollemnts";
}

<div class="container">
    <h1>Enrollments</h1>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Deadline</th>
                    <th scope="col">Department Priority</th>
                    <th scope="col" class="text-center">Capacity</th>
                    <th scope="col" class="text-end">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Training in ViewBag.Trainings)
                {
                    <tr>
                        <td>@Training.Title</td>
                        <td>@Training.Deadline.ToString("ddd, dd MMM yyyy hh:mm tt")</td>
                        <td>@(Training.PriorityDepartment != null ? @Training.PriorityDepartment.Title : '-')</td>
                        <td class="text-center">@Training.Capacity</td>
                        <td class="text-end">
                            @Html.ActionLink("View", "View", "Training", new { @id = Training.TrainingId }, new { @class = "btn btn-sm btn-outline-primary me-2" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

