@{
    ViewBag.Title = "Enrollments";
}
@section scripts {
    <script src="~/Scripts/custom/enrollment.js"></script>
    <script src="~/Scripts/custom/enrollment-table.js"></script>
}

<main class="container">
    <div class="row">
        <div class="col-md-3 pe-3">
            <h3 class="mb-4 mt-2">Filters</h3>
            @if (Session["CurrentRole"] as string == "Employee")
            {
                <div class="card mb-4">
                    <div class="card-header">
                        Training Status
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6 p-1">
                                <input type="radio" class="btn-check" name="trainingStatus" id="trainingOpen" checked value="Open" autocomplete="off">
                                <label class="btn btn-sm btn-outline-success w-100" for="trainingOpen">Open</label>
                            </div>
                            <div class="col-lg-6 p-1">
                                <input type="radio" class="btn-check" name="trainingStatus" id="trainingClosed" value="Closed" autocomplete="off">
                                <label class="btn btn-sm btn-outline-danger w-100" for="trainingClosed">Closed</label>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @if (Session["CurrentRole"] as string != "Employee")
            {
                <div class="card mb-4">
                    <div class="card-header">
                        <div class="float-start">
                            Training
                        </div>
                        <div class="float-end">
                            <span id="trainingClosedBadge" class="badge text-bg-danger">Closed</span>
                        </div>
                    </div>
                    <div class="card-body">
                        <select id="trainings" class="form-select">
                            @foreach (var Training in ViewBag.Trainings)
                            {
                                <option value="@Training.TrainingId">@Training.Title @(Training.IsClosed ? "(Closed)" : "")</option>
                            }
                        </select>
                    </div>
                </div>
            }
            else
            {
                <input type="hidden" id="trainings" value="" />
            }

            <div class="card mb-4">
                <div class="card-header">
                    Enrollment Status
                </div>
                <div class="card-body">
                    <select id="enrollmentStatus" class="form-select">
                        <option value="" selected>All</option>
                        <option value="Pending">Pending</option>
                        <option value="Approved">Approved</option>
                        <option value="Denied">Denied</option>
                    </select>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header">
                    Employee Department
                </div>
                <div class="card-body">
                    <select id="departments" class="form-select">
                        @foreach (var Department in ViewBag.Departments)
                        {
                            <option value="@Department.DepartmentId">@Department.Title</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-9 ps-4">
            <div class="d-flex justify-content-between align-items-center">
                <h3 class="mt-2 ps-1">Enrollments</h3>
                <div class="d-inline-flex">
                    @if (Session["CurrentRole"] as string == "Admin")
                    {
                        using (Html.BeginForm("Export", "Enrollment", FormMethod.Post))
                        {
                            <input type="hidden" id="exportTrainingId" name="trainingId" value="" />
                            <button id="export" class="btn btn-sm btn-dark me-2 px-3">Export</button>
                        }
                    }
                    <a href="" class="btn btn-sm btn-dark me-2" data-bs-toggle="tooltip" data-bs-title="Refresh"><i class="fa-solid fa-refresh"></i></a>
                </div>
            </div>
            <form id="enrollmentForm">
                <div class="table-responsive p-2">
                    <table id="enrollmentTable" class="table table-borderless table-hover pb-4">
                        <thead class="bg-light">
                            <tr class="align-middle">
                                <th class="rounded-start border p-3">Status</th>
                                @if (Session["CurrentRole"] as string == "Employee")
                                {
                                    <th class="border py-3">Training</th>
                                    <th class="py-3 border">Deadline</th>
                                    <th class="text-nowrap py-3 border">Department Priority</th>
                                    <th class="border-end py-3 border">Capacity</th>
                                }
                                else
                                {
                                    <th class="text-nowrap border py-3">Employee Name</th>
                                    <th class="py-3 border">Email</th>
                                    <th class="text-nowrap py-3 border">Phone Number</th>
                                }
                                <th class="py-3 border text-nowrap">Enrolled On</th>
                                <th class="rounded-end text-center py-3 border">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var Enrollment in ViewBag.Enrollments)
                            {
                                <tr data-trainingid="@Enrollment.Training.TrainingId"
                                    data-departmentid="@Enrollment.Employee.Department.DepartmentId"
                                    data-trainingstatus="@(Enrollment.Training.IsClosed ? "Closed" : "Open")"
                                    data-enrollmentstatus="@Enrollment.Status.ToString()">
                                    <td class="rounded-start p-3">
                                        @if (Enrollment.Status.ToString() == "Approved")
                                        {<span class="badge text-bg-success w-100">Approved</span>}
                                        else if (Enrollment.Status.ToString() == "Denied")
                                        {<span class="badge text-bg-danger w-100">Denied</span>}
                                        else
                                        {<span class="badge text-bg-warning w-100">Pending</span>}
                                    </td>
                                    @if (Session["CurrentRole"] as string == "Employee")
                                    {
                                        <td class="rounded py-3">
                                            @Enrollment.Training.Title
                                        </td>
                                        <td class="text-nowrap py-3">@Enrollment.Training.Deadline.ToString("dd MMM yyyy")</td>
                                        <td class="py-3">
                                            @if (Enrollment.Training.PriorityDepartment != null)
                                            {@Enrollment.Training.PriorityDepartment.Title}
                                        else
                                        { <p class="opacity-25 m-0">None</p>}
                                        </td>
                                        <td class="py-3">@Enrollment.Training.Capacity</td>
                                    }
                                    else
                                    {
                                        <td class="text-truncate p-3" style="max-width: 12rem">@Enrollment.Employee.FirstName @Enrollment.Employee.LastName</td>
                                        <td class="text-truncate py-3" style="max-width: 12rem">@Enrollment.Employee.Email</td>
                                        <td class="py-3">@Enrollment.Employee.PhoneNumber</td>
                                    }
                                    <td class="py-3 text-nowrap">@Enrollment.CreatedOn.ToString("dd MMM yyyy hh:mm tt")</td>
                                    <td class="rounded-end text-center py-3">
                                        <div data-bs-toggle="tooltip" data-bs-title="View Enrollment">
                                            <a href="@Url.Action("View", "Enrollment", new { id = Enrollment.EnrollmentId })" class="btn btn-sm btn-outline-primary w-100">
                                                <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</main>