@{
    ViewBag.Title = "Enrollments";
}
@section scripts {
    <script type="module" src="~/Scripts/custom/enrollment.js"></script>
}

<main class="container">
    <div class="row">
        <div class="col-lg-4 pe-lg-4">
            <h2 class="display-6 mb-3">Training</h2>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa-solid fa-graduation-cap me-1"></i>
                    Title
                </div>
                <div class="card-body">
                    @ViewBag.Enrollment.Training.Title
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa-solid fa-circle-info me-1"></i>
                    Description
                </div>
                <div class="card-body">
                    @ViewBag.Enrollment.Training.Description
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa-solid fa-calendar-days me-1"></i>
                    Deadline
                </div>
                <div class="card-body">
                    @ViewBag.Enrollment.Training.Deadline.ToString("ddd, dd MMM yyyy hh:mm tt")
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa-solid fa-user-group me-1"></i>
                    Capacity
                </div>
                <div class="card-body">
                    @ViewBag.Enrollment.Training.Capacity
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa-solid fa-suitcase me-1"></i>
                    Priority Department
                </div>
                <div class="card-body">
                    @(ViewBag.Enrollment.Training.PriorityDepartment != null ? ViewBag.Enrollment.Training.PriorityDepartment.Title : "None")
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa-solid fa-suitcase me-1"></i>
                    Pre-requisites
                </div>
                <div class="card-body p-0">
                    <ul class="list-group list-group-flush">
                        @if (ViewBag.PreRequisites == null || ViewBag.PreRequisites.Count == 0)
                        {
                            <li class="list-group-item rounded">None</li>
                        }
                        else
                        {
                            foreach (var PreRequisite in ViewBag.PreRequisites)
                            {
                                <li class="list-group-item rounded">
                                    <p class="m-0">@PreRequisite.Detail</p>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4 px-lg-4">
            <h2 class="display-6 mb-3">Employee</h2>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa-solid fa-user-graduate me-1"></i>
                    Full Name
                </div>
                <div class="card-body">
                    @ViewBag.Enrollment.Employee.FirstName @ViewBag.Enrollment.Employee.LastName
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa-solid fa-envelope me-1"></i>
                    Email
                </div>
                <div class="card-body">
                    @ViewBag.Enrollment.Employee.Email
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa-solid fa-address-card me-1"></i>
                    National Identity Card Number (NIC)
                </div>
                <div class="card-body">
                    @ViewBag.Enrollment.Employee.NIC
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa-solid fa-phone me-1"></i>
                    Phone Number
                </div>
                <div class="card-body">
                    @ViewBag.Enrollment.Employee.PhoneNumber
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa-solid fa-suitcase me-1"></i>
                    Department
                </div>
                <div class="card-body">
                    @ViewBag.Enrollment.Employee.Department.Title
                </div>
            </div>
        </div>
        <div class="col-lg-4 ps-lg-4">
            <form id="editEnrollmentForm" class="needs-validation" novalidate>
                @Html.AntiForgeryToken()
                <h2 class="display-6 mb-3">Enrollment</h2>
                @if (ViewBag.Enrollment.Training.IsClosed)
                {
                    <div class="alert alert-primary mb-3 text-center" role="alert">
                        Training Closed
                    </div>
                }
                else
                {
                    @Html.Partial("_ViewPartial")
                }
                <div class="card my-3">
                    <div class="card-header">
                        Enrolled On
                    </div>
                    <div class="card-body">
                        @ViewBag.Enrollment.CreatedOn.ToString("f")
                    </div>
                </div>
                <div class="card my-3">
                    <div class="card-header">
                        Proofs @if (ViewBag.Proofs.Count > 0)
                        {<span class="badge text-bg-primary">@ViewBag.Proofs.Count</span>}
                    </div>
                    <div class="card-body">
                        @if (ViewBag.Proofs.Count > 0)
                        {
                            <div class="row">
                                <div class="col-sm-6">
                                    <button type="button" disabled id="viewProofs" class="btn btn-outline-primary w-100" data-bs-toggle="modal" data-bs-target="#proofModal">
                                        <span class="spinner-border spinner-border-sm"></span>
                                    </button>
                                </div>
                                <div class="col-sm-6">
                                    <button type="button" id="downloadProofs" class="btn btn-outline-primary w-100">
                                        Open in new Tab
                                    </button>
                                </div>
                            </div>
                            <div class="modal fade" id="proofModal" tabindex="-1" aria-labelledby="proofModalLabel" aria-hidden="true">
                                <div class="modal-dialog text-center modal-fullscreen">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5 text-center" id="proofModalLabel">Proofs</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div id="proofCarousel" class="carousel carousel-dark slide w-100" data-bs-ride="false">
                                                <div class="carousel-inner rounded">
                                                    @for (int i = 0; i < ViewBag.Proofs.Count; i++)
                                                    {
                                                        <div class="carousel-item @(i == 0 ? "active" : "")">
                                                            <img src="@ViewBag.Proofs[i].Attachment" class="img-fluid rounded proof-img" alt="proof">
                                                        </div>
                                                    }
                                                </div>
                                                <button class="carousel-control-prev" type="button" data-bs-target="#proofCarousel" data-bs-slide="prev">
                                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                    <span class="visually-hidden">Previous</span>
                                                </button>
                                                <button class="carousel-control-next" type="button" data-bs-target="#proofCarousel" data-bs-slide="next">
                                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                    <span class="visually-hidden">Next</span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary w-100" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <span class="badge text-bg-secondary">None</span>
                        }
                    </div>
                </div>
                <button class="btn btn-secondary w-100 mb-3" onclick="window.history.back();">Back</button>
            </form>
        </div>
    </div>
</main>
