@{
    ViewBag.Title = "Trainings";
}
@section scripts {
    <script src="~/Scripts/custom/training.js"></script>
}

<main class="container">
    <div class="row align-items-center mb-4">
        <div class="col-6">
            <h1>Trainings</h1>
        </div>
        @if (ViewBag.CurrentRole == "Admin")
        {
            <div class="col-6 text-end">
                @Html.ActionLink("Add Training", "Create", "Training", null, new { @class = "btn btn-primary" })
            </div>
        }
    </div>
    <form id="trainingForm">
        <div class="table-responsive p-2">
            <table id="trainingTable" class="table table-borderless table-hover pb-4">
                <thead class="bg-light">
                    <tr class="align-middle">
                        <th class="rounded-start">Title</th>
                        <th>Deadline</th>
                        <th class="text-nowrap">Department Priority</th>
                        <th>Capacity</th>
                        <th class="rounded-end text-end">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var training in ViewBag.Trainings)
                    {
                        <tr>
                            <td class="rounded-start">@training.Title</td>
                            <td>@training.Deadline.ToString("ddd, dd MMM yyyy - hh:mm tt")</td>
                            <td>
                                @if (training.PriorityDepartment != null)
                                {
                                    @training.PriorityDepartment.Title
                                }
                                else
                                {
                                    <p class="opacity-25 m-0">None</p>
                                }
                            </td>
                            <td>@training.Capacity</td>
                            <td class="rounded-end text-end">
                                <div class="d-flex justify-content-end">
                                    @if (ViewBag.CurrentRole == "Admin")
                                    {
                                        @Html.ActionLink("View", "View", "Training", new { @id = training.TrainingId }, new { @class = "btn btn-sm btn-outline-primary w-100" })
                                        @Html.ActionLink("Edit", "Edit", "Training", new { @id = training.TrainingId }, new { @class = "btn btn-sm btn-outline-secondary ms-2 w-50" })
                                        <button class="btn btn-sm btn-outline-danger w-50 ms-2" onclick="deleteTraining(this)">
                                            <i class="fa-solid fa-trash"></i>
                                        </button>
                                        <input type="hidden" value="@training.TrainingId" />
                                    }
                                    else
                                    {
                                        if (ViewBag.IsEnrolledInTraining[training.TrainingId])
                                        {
                                            @Html.ActionLink("View", "Index", "Enrollment", null, new { @class = "btn btn-sm btn-outline-success w-100" })
                                        }
                                        else
                                        {
                                            @Html.ActionLink("Enroll", "View", "Training", new { @id = training.TrainingId }, new { @class = "btn btn-sm btn-outline-primary w-100" })
                                        }
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </form>
</main>

