@{
    ViewBag.Title = "Trainings";
}
@section scripts {
    <script src="~/Scripts/custom/Training.js"></script>
}

<main class="container">
    <div class="row align-items-center mb-4">
        <div class="col-6">
            <h1>Trainings</h1>
        </div>
        @if (Session["CurrentRole"] as string == "Admin")
        {
            <div class="col-6 text-end">
                @Html.ActionLink("Add Training", "Create", "Training", null, new { @class = "btn btn-primary me-2" })
            </div>
        }
    </div>
    <form id="trainingForm">
        @Html.AntiForgeryToken()
        <div class="table-responsive p-2">
            <table id="trainingTable" class="table table-borderless table-hover pb-4">
                <thead class="bg-light">
                    <tr class="align-middle">
                        <th class="rounded-start py-3 p-xl-3 border">Status</th>
                        <th class="py-3 p-xl-3 border">Title</th>
                        <th class="py-3 p-xl-3 border">Deadline</th>
                        <th class="text-nowrap py-3 p-xl-3 border">Department Priority</th>
                        <th class="py-3 p-xl-3 border">Seats Left</th>
                        <th class="py-3 p-xl-3 border">Pre-Requisites</th>
                        <th class="rounded-end text-center py-3 p-xl-3 border">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Training in ViewBag.Trainings)
                    {
                        <tr>
                            <td class="rounded-start py-3 p-xl-3">
                                @if (Training.IsClosed)
                                {
                                    <span class="badge text-bg-danger w-100">Closed</span>
                                }
                                else if (Training.SeatsLeft <= 0)
                                {
                                    <span class="badge text-bg-danger w-100">Full</span>
                                }
                                else
                                {
                                    <span class="badge text-bg-success w-100">Open</span>
                                }
                            </td>
                            <td class="py-3 p-xl-3">@Training.Title</td>
                            <td class="text-nowrap py-3 p-xl-3">@Training.Deadline.ToString("ddd, dd MMM yyyy hh:mm tt")</td>
                            <td class="py-3 p-xl-3">
                                @if (Training.PriorityDepartment != null)
                                {
                                    @Training.PriorityDepartment.Title
                                }
                                else
                                {
                                    <p class="opacity-25 m-0">None</p>
                                }
                            </td>
                            <td class="py-3 p-xl-3">@Training.SeatsLeft left out of @Training.Capacity</td>
                            <td class="py-3 p-xl-3">@Training.PreRequisites.Count</td>
                            <td class="rounded-end py-3 p-xl-3">
                                <div class="d-flex justify-content-end">
                                    @if (Session["CurrentRole"] as string == "Admin")
                                    {
                                        if (Training.IsClosed)
                                        {
                                            <a href="@Url.Action("View", "Training", new { id = Training.TrainingId })" class="btn btn-sm btn-outline-primary w-25" data-bs-toggle="tooltip" data-bs-title="View Training">
                                                <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                            </a>
                                            <button class="btn btn-sm btn-outline-success w-25 ms-2" disabled>
                                                <i class="fa-solid fa-circle-check"></i>
                                            </button>
                                            <button class="btn btn-sm btn-outline-secondary ms-2 w-25" disabled>
                                                <i class="fa-solid fa-pen-to-square"></i>
                                            </button>
                                            <button class="btn btn-sm btn-outline-danger w-25 ms-3" disabled>
                                                <i class="fa-solid fa-trash"></i>
                                            </button>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("View", "Training", new { id = Training.TrainingId })" class="btn btn-sm btn-outline-primary w-25" data-bs-toggle="tooltip" data-bs-title="View Training">
                                                <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                            </a>
                                            <button class="btn btn-sm btn-outline-success w-25 ms-2" onclick="closeTraining(this)" data-bs-toggle="tooltip" data-bs-title="Close Training">
                                                <i class="fa-solid fa-circle-check"></i>
                                            </button>
                                            <a href="@Url.Action("Edit", "Training", new { id = Training.TrainingId })" class="btn btn-sm btn-outline-secondary ms-2 w-25" data-bs-toggle="tooltip" data-bs-title="Edit Training">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                            </a>
                                            <button class="btn btn-sm btn-outline-danger w-25 ms-3" onclick="deleteTraining(this)" data-bs-toggle="tooltip" data-bs-title="Delete Training">
                                                <i class="fa-solid fa-trash"></i>
                                            </button>
                                            <input type="hidden" value="@Training.TrainingId" />
                                        }
                                    }
                                    else if (Session["CurrentRole"] as string == "Manager")
                                    {
                                        @Html.ActionLink("View", "View", "Training", new { @id = Training.TrainingId }, new { @class = "btn btn-sm btn-outline-primary w-100" })
                                    }
                                    else
                                    {
                                        if (ViewBag.EnrollmentIds[Training.TrainingId] != null)
                                        {
                                            @Html.ActionLink("View", "View", "Enrollment", new { @id = ViewBag.EnrollmentIds[Training.TrainingId] }, new { @class = "btn btn-sm btn-outline-success w-100" })
                                        }
                                        else if (Training.IsClosed)
                                        {
                                            <button class="btn btn-sm btn-outline-danger w-100" disabled>Closed</button>
                                        }
                                        else if (Training.SeatsLeft <= 0)
                                        {
                                            <button class="btn btn-sm btn-outline-danger w-100" disabled>Full</button>
                                        }
                                        else
                                        {
                                            @Html.ActionLink("Enroll", "View", "Training", new { @id = Training.TrainingId }, new { @class = "btn btn-sm btn-outline-primary w-100" })
                                        }
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </form>
</main>

