@{
    ViewBag.Title = ViewBag.Training.Title;
}
@section scripts {
    <script src="~/Scripts/enrollment.js"></script>
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-6">
            <h1 class="display-6 mb-4">
                @Html.ActionLink("Training", "Index", "Training", null, new { @class = "text-decoration-none text-black" })
                / @ViewBag.Training.Title
            </h1>

            <div class="card mb-4">
                <div class="card-header">
                    <i class="fa-solid fa-circle-info me-1"></i>
                    Description
                </div>
                <div class="card-body">
                    <p class="m-1">@ViewBag.Training.Description</p>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header">
                    <i class="fa-solid fa-briefcase me-1"></i>
                    Department Priority
                </div>
                <div class="card-body">
                    <p class="m-0 ms-1">@(ViewBag.Training.PriorityDepartment != null ? ViewBag.Training.PriorityDepartment.Title : "None")</p>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-12 col-lg-8">
                    <div class="card">
                        <div class="card-header">
                            <i class="fa-solid fa-calendar-days me-1"></i>
                            Deadline
                        </div>
                        <div class="card-body">
                            <p class="m-0">@ViewBag.Training.Deadline.ToString("ddd, dd MMM yyyy hh:mm tt")</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <i class="fa-solid fa-user-group me-1"></i>
                            Max Capacity
                        </div>
                        <div class="card-body">
                            <p class="m-0">@ViewBag.Training.Capacity</p>
                        </div>
                    </div>
                </div>
            </div>
            @using (Html.BeginForm("Enroll", "Enrollment", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fa-solid fa-file-pdf me-1"></i>
                        Pre-requisites
                    </div>
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush">
                            @if (ViewBag.PreRequisites == null)
                            {
                                <li class="list-group-item rounded">None</li>
                            }
                            else
                            {
                                foreach (var PreRequisite in ViewBag.PreRequisites)
                                {
                                <li class="list-group-item rounded">
                                    <p class="m-0">@PreRequisite.Detail</p>
                                    @Html.TextBox("file", "", new { @type = "file", @class = "form-control mt-2 mb-3" })
                                </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        @Html.ActionLink("Back", "Index", "Training", null, new { @class = "btn btn-secondary me-2 w-100" })
                    </div>
                    <div class="col-8">
                        <input type="hidden" name="trainingId" value="@ViewBag.Training.TrainingId" />
                        <button type="submit" id="enroll" class="btn btn-primary w-100 mb-5">Enroll</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

